@use "../../mixins/index" as *;
@use "IconStyles" as *;
@use "sass:map";

@include b(icon) {
  // --xy-icon-color: inherit;
  width: 1em;
  height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  position: relative;
  fill: currentColor;
  color: $xy-default-text-color;
  font-size: inherit;
  object-fit: cover;
  box-sizing: $xy-box-sizing;

  @each $val in (primary, info, success, warning, danger) {
    // .xy-icon--#{$val} {
    @include m($val) {
      // --xy-icon-color: var(--xy-#{$val}-color);
      @include icon-style(map.get($xy-colors, $val))
    }
  }
}
