@use "../../mixins/index" as *;

@include b(random-text) {
  display: inline-flex;
  vertical-align: middle;
  font-size: $xy-font-size-14;
  line-height: $xy-line-height-1;
  flex-flow: column;

  & > * {
    display: inline-flex;
  }

  @include when(block) {
    display: flex;

    & > * {
      width: 100%;
      flex-grow: 1;
    }
  }

  @include bx(intro) {
    margin-bottom: $xy-padding-10;
  }
}