$ocean: #007ab8;
$blue: #007bff;
$primary: #007bff;
$hover-blue-dark: #0091da;
$hover-blue: #00a0e9;
$aqua: #00c1d5;
$dark-blue: #075db3;
$dark-green: #07c160;
$greene: #0fc70f;
$light-blue: #10aeff;
$darker-blue: #1485ee;
$cyan: #17a2b8;
$info: #17a2b8;
$indigo: #1d428a;
$dark-mode: #1e2a31;
$teal: #20c997;
$blue-dark: #2196f3;
$black-dark: #23241f;
$green: #28a745;
$success: #28a745;
$gray-dark: #343a40;
$dark: #343a40;
$blue-green: #495770;
$gray: #565656;
$light-blue-gray: #576b95;
$light-green-dark: #5fa134;
$pool-green: #607d8b;
$light-purple: #6467f0;
$indigo-dark: #6610f2;
$secondary: #6c757d;
$purple: #6f42c1;
$leaf: #78be20;
$plum: #7f35b2;
$lighter: #91d300;
$light-green: #95ec69;
$violet: #b145e9;
$brown-yellow: #c87d2f;
$red-bright: #cc3f68;
$red: #dc3545;
$danger: #dc3545;
$pink: #e83e8c;
$bright-red: #ea3a3a;
$pink-bright: #ee6eb3;
$orange-red: #f44336;
$light-mode: #f4f8fa;
$light: #f4f8fa;
$light-gray: #f7f7f7;
$light-dark: #f8f9fa;
$cerise-red: #fa5151;
$orange: #fd7e14;
$red-orange: #ff6a00;
$fawn: #ffa117;
$yellow: #ffc107;
$warning: #ffc107;
$dark-orange: #ffc300;
$light-orange: #ffebdd;


:root {
  --ocean: #007ab8;
  --blue: #007bff;
  --primary: #007bff;
  --hover-blue-dark: #0091da;
  --hover-blue: #00a0e9;
  --aqua: #00c1d5;
  --dark-blue: #075db3;
  --dark-green: #07c160;
  --greene: #0fc70f;
  --light-blue: #10aeff;
  --darker-blue: #1485ee;
  --cyan: #17a2b8;
  --info: #17a2b8;
  --indigo: #1d428a;
  --dark-mode: #1e2a31;
  --teal: #20c997;
  --blue-dark: #2196f3;
  --black-dark: #23241f;
  --green: #28a745;
  --success: #28a745;
  --gray-dark: #343a40;
  --dark: #343a40;
  --blue-green: #495770;
  --gray: #565656;
  --light-blue-gray: #576b95;
  --light-green-dark: #5fa134;
  --pool-green: #607d8b;
  --light-purple: #6467f0;
  --indigo-dark: #6610f2;
  --secondary: #6c757d;
  --purple: #6f42c1;
  --leaf: #78be20;
  --plum: #7f35b2;
  --lighter: #91d300;
  --light-green: #95ec69;
  --violet: #b145e9;
  --brown-yellow: #c87d2f;
  --red-bright: #cc3f68;
  --red: #dc3545;
  --danger: #dc3545;
  --pink: #e83e8c;
  --bright-red: #ea3a3a;
  --pink-bright: #ee6eb3;
  --orange-red: #f44336;
  --light-mode: #f4f8fa;
  --light: #f4f8fa;
  --light-gray: #f7f7f7;
  --light-dark: #f8f9fa;
  --cerise-red: #fa5151;
  --orange: #fd7e14;
  --red-orange: #ff6a00;
  --fawn: #ffa117;
  --yellow: #ffc107;
  --warning: #ffc107;
  --dark-orange: #ffc300;
  --light-orange: #ffebdd;
}